.WorkTodoCon {
    display: flex;
    width: 90%;
    height: 10%;
    align-items: center;
    margin-bottom: 10px;

  
    .checkbox {
      width: 20px;
      height: 20px;
      margin-right: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
  
      &:hover {
        border-color: rgb(94, 53, 177);
      }
    }
  
    .inputCon {
      display: flex;
      width: 100%;
      position: relative;
      align-items: center;
      
  
      .content {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 1rem;
        font-size: 18px;
        color: #333;
        font-weight: bold;
  
        &:hover {
          border-width: 2px;
          border-color: rgb(144, 202, 249);
        }
      }
  
      .CheckName {
        position: absolute;
        font-size: 12px;
        color: #4CAF50;
        right: 25px;
      }
    }
  
    .delete {
      width: 20px;
      height: 20px;
      cursor: pointer;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: rgb(219, 112, 147);
  
      &:hover {
        background-color: #ddd;
      }
    }
  }
  