.PaymentConWrapAdmin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px;
    height: 400px;
    width: 70vw; 
    > div:nth-child(1) {
      grid-column: 1 / span 1; 
      grid-row: 1 / span 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 2 / span 2; 
        grid-row: 1 / span 2;
    }
  
    > div:nth-child(3) {
      grid-column: 1 / span 1; 
      grid-row: 2 / span 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    
  
    > div {
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
  .PaymentListAndData{
    display: grid;
    grid-template-columns: 1fr 1fr
   
  }
  .PaymentListAndData > :nth-child(1) {
    /* 첫 번째 자식 요소에 대한 스타일을 적용하세요 */
  }

  