
.PaymentConWrapAdmin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  margin-top: 20px;

  .icon {
    color: #333;
    font-size: 48px;
    margin-right: 0;
  }
  .category {
    display: flex;
    align-items: center;
  }
  .categoryName{
    font-weight: 600;
  }
  .data {
    font-size: 3rem;
    color: rgb(34, 51, 84);
  }
  .datatext{
    font-size: 1.5rem;
    color: rgb(34, 51, 84);
  }
  .Eachdata{
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow-y: scroll;
    
      &::-webkit-scrollbar{
      display: none;
    }
  }

  .texboxCon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .realPaymentCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .texbox {
    display: flex;
    flex-direction: column;
    align-items:baseline;
  } 

  .texcategory{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    >div {
      font-size: x-small;
      color:rgb(84 120 194);
    }
  }
  .tex {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    div {
      margin-bottom: 14px;
    }
  }


  > div {
    height: 85%;
    background-color:#fff;
    border-radius: 10px;
    padding: 1rem;
    margin: 20px;

    color: rgba(34, 51, 84, 0.7);/* 글자 색상 */
    font-weight: 700;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    transition: transform 0.3s ease-in-out; /* 확대 효과를 위한 애니메이션 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 약한 그림자 효과 */

    &:hover {
      transform: scale(1.02); /* 호버 시 약간 확대 */
    }
  }

  > div:nth-child(1) {
    grid-column: 1 / span 1;
  }

  > div:nth-child(2) {
    grid-column: 2 / span 1;
   
  }

  > div:nth-child(3) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
   
  }

  > div:nth-child(4) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  > div:nth-child(5) {
    grid-column: 3 / span 2;

  }

  > div:nth-child(6) {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
  }
}

  
.PaymentConWrapUser {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  margin-top: 20px;

  .icon {
    color: #333;
    font-size: 48px;
    margin-right: 0;
  }
  .category {
    display: flex;
    align-items: center;
  }
  .categoryName{
    font-weight: 600;
  }
  .data {
    font-size: 3rem;
    color: rgb(34, 51, 84);
  }
  .datatext{
    font-size: 1.5rem;
    color: rgb(34, 51, 84);
  }

  .texboxCon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .realPaymentCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .texbox {
    display: flex;
    flex-direction: column;
    align-items:baseline;
  } 

  .texcategory{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    >div {
      font-size: x-small;
      color:rgb(84 120 194);
    }
  }
  .tex {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    div {
      margin-bottom: 14px;
    }
  }


  > div {
    background-color:#fff;
    border-radius: 10px;
    padding: 1rem;
    margin: 20px;

    color: rgba(34, 51, 84, 0.7);/* 글자 색상 */
    font-weight: 700;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s ease-in-out; /* 확대 효과를 위한 애니메이션 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 약한 그림자 효과 */

    &:hover {
      transform: scale(1.02); /* 호버 시 약간 확대 */
    }
  }

  > div:nth-child(1) {
    grid-column: 1 / span 1;
  }

  > div:nth-child(2) {
    grid-column: 2 / span 1;
   
  }

  > div:nth-child(3) {
    grid-column: 3 / span 2;
   
  }

  > div:nth-child(4) {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1 ;
  }

  > div:nth-child(5) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1 ;
   
  }

  > div:nth-child(6) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1 ;
  }
}
  
  