@import "../../../common/style/style.scss";

.WorkConCon {
    position: relative;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pageNationCon {
        display: flex;
    }
    
    .searchform {
        display: flex;
        align-items: center;
        font-size: x-large;
        margin-top: 10px;
        font-weight: 700;
        width: 90%;
        justify-content: space-between;
        input {
            font-size: 18px;
        }
    }

    .moccha {
        display: flex;
        height: 50px;
        align-items: center;
        padding: 1rem;
        width: 90%;
        justify-content: space-between;

        div {
            display: flex;
            justify-content: center;
        }
        
        .date {
            font-size: 14px;
            color: $mainColor;
        }
        
        .title {
            font-size: 18px;
            color: $titleColor;
            font-weight: bold;
            margin-right: 30px;
        }
        
        .todo {
            font-size: 14px;
            color: $mainColor;
            margin-top: 0.5rem;
            justify-content: flex-end;
        }
    }

    .bottom {
        position: absolute;
        display: flex;
        align-items: center;
        width: 90%;
        height: 54px;
        bottom: 0;
        justify-content: space-between;

        .writeButton {
            width: 56px;
            height: 28px;
            border: 0;
            margin-top: 0.8em;
            margin-bottom: 0.8em;
            color: #aaa;
            border-radius: 3px;
            font-size: medium;     
            background-color: rgba(255, 255, 255, 0.5); /* 투명한 배경 색상 */
            border: 1px solid rgba(255, 255, 255, 0.3); /* 테두리 스타일 */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
            transition: opacity 0.3s ease-in-out; /* 부드러운 효과를 위한 트랜지션 추가 */
          

            &:hover {
                border: groove;
                border-color: rgb(94, 53, 177);
            }
        }

        .pagination-button {
            color: #fff;
            border: 0;
            border-radius: 10px;
            width: 28px;
            height: 28px;
            padding: 0 10px;
            margin-right: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #aaa;
            font-size: 18px;
          
            background-color: rgba(255, 255, 255, 0.5); /* 투명한 배경 색상 */
            border: 1px solid rgba(255, 255, 255, 0.3); /* 테두리 스타일 */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
            transition: opacity 0.3s ease-in-out; /* 부드러운 효과를 위한 트랜지션 추가 */
          
            &:hover {
              opacity: 0.7;
            }
        }   
    }
}
