// WorkCompo.scss

@import "../../../common/style/style.scss";

.CompoCon {
    display: flex;
    align-items: center;

    background-color:#fff;
    height: 70px;
    width: 90%;
    padding: 1rem;
    margin-bottom: 10px;
    
    backdrop-filter: blur(10px); /* 배경 흐림 효과 */
    background-color: rgba(255, 255, 255, 0.5); /* 투명한 배경 색상 */
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* 테두리 스타일 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
    
    border-radius: 12px;
    justify-content: space-between;
    
    cursor: pointer;
    
    &:hover{
        border: groove;
        border-color:rgb(144, 202, 249);
    }

    div {
        display: flex;
        flex-direction: column;
    }

    .date {
        font-size: 14px;
        color: $mainColor;
    }
    .titleCon {
        display: flex;
    }
    .title {
        font-size: 18px;
        color: $titleColor;
        font-weight: bold;
    }

    .todo {
        font-size: 14px;
        color: $mainColor;
        margin-top: 0.5rem;
        align-items: end;
        margin-right: 1rem;
    }

    .New {
        font-size: 14px;
        color: rgb(219, 112, 147);
        display: contents;    }
}

@media (max-width: 768px) {
    .CompoCon {
        background-color: #fff;
        .date,
        .title,
        .todo {
            color: $mainColor;
        }
    }
}
