

// main
$mainBackgroundColor : rgb(238, 242, 246);
$mainColor : rgb(54, 65, 82);

// sideColor 
$mainSideBackgroundColor : rgb(54, 65, 82);
$mainSideBackgroundColor2 : rgb(17, 25, 42);


// contents
$contentsBackgroundColor : rgb(255, 255, 255);
$contentsBorderColor : rgba(144, 202, 249, 0.145);


// button
$buttonColor0 : rgb(144, 202, 249);
$buttonColor1 : #334557 ;

// title
$titleColor : #1c1c1c;
$titleColor1 : #ccc;

// border color
$bordercolor1 :#eee;

$redColor :rgb(219, 112, 147);