
@import "../../common/style/style.scss"; 

.register-wrap {

    width: 100%;  min-height: 100vh;
    background-color:$mainBackgroundColor;
    display: flex; justify-content: center; align-items: center;

    .register_contents-box {
        width: 500px; background-color: $contentsBackgroundColor;
        padding: 2em; color: $mainColor;
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        box-shadow: none; background-image: none;
        border-radius: 12px; overflow: hidden;
        border: 1px solid $contentsBorderColor;
        position: relative;

        .register-back {
            position: absolute; top: 10px; right: 0; cursor: pointer;
            font-size: 24px;  color: $titleColor1;
            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
        }
        .register-title {
            font-size: 1.8em; font-weight: bold; color: $titleColor;
            text-align: center; padding: 0; margin: 0;
            margin-bottom: 20px;

        }
    }

}

@media (max-width : 768px) {
    .register-wrap {
        background-color: #fff;
        .register_contents-box {
                width: 100%; border: 0;
        
        }
    }
}
