
.left-page{
   z-index: 100;
}
.left-page-contents {
   width: 90%; 
   //margin: auto;
   .hamberger {
      cursor: pointer;
   }
   z-index: 1002;
  // background-image: "./img1.jpg";
}


@media (min-width:1440px) {
   
   .left-page-contents {
      width: 80%;
     
   }
   
     .modal-h2{
    position: relative;
    margin-bottom: 100px;
    .modal-date-h2 {
      position: absolute;
      top:-100px;
      color: white;
      
    }
  }

   .profile-line{
      width: 100%;
      border: rgba(255, 255, 255, 0.095) solid 0.5px;
      margin: 20px 0;
      //color: white;
   }

   .profile-img {
      border-radius: 50%;
      border: 2px solid #eee; 
      background-color: #fff;
      width: 36px; padding: 0px;height: 36px;
      border-radius: 12px;
      margin: 10px 0;
      cursor: pointer; 
      img {
         width: 100%; height: 100%;
         object-fit: contain;
      }
   }

   .main-logo {
      margin: 10px !important;
   }
}

@media (max-width:768px) {

   .left-page-contents {
      width: 100%; height: 100%; margin: auto;
      .container {
         position: relative;
         width: 100%; height: 100%;
         display: flex; align-items: center; justify-content: space-between;
         padding: 0 2em;
         .main-logo {
            
            margin: 0 !important; 
            padding: 0;
         }
         .main-header-icon {
            display: flex; align-items: center; margin: 0; padding: 0;

            .logout-icon {
               width: 36px; height: 36px; cursor: pointer; 
               border: 2px solid #eee;  margin-right: 10px;
               background-color: #fff;   border-radius: 12px;
               display: flex; align-items: center; justify-content: center;
               img {
                   width: 90%; height: 90%; 
                   object-fit: cover; object-position: center;
               }
            }

            .profile-img {
               border-radius: 50%;
               border: 2px solid #eee; 
               background-color: #fff;
               width: 36px; padding: 0px;height: 36px;
               border-radius: 12px;

               cursor: pointer; 
               img {
                  width: 100%; height: 100%;
                  object-fit: contain;
               }
            }
            .hamberger {
               width: 36px; padding: 0px;height: 36px;
               margin-left: 1em;
               cursor: pointer;
               display: flex; align-items: center;
               img {
                  width: 80%; height: 80%;
                  object-fit: cover;
                  object-position: center;
               }
            }
         }
      }
   }
}