
@import "../../../common/style/style.scss"; 

.main-wrap {
    display: flex; 
    flex: 1 3; justify-content: space-around;  
    align-items: center; height: 100vh;
    .left-page {
        display: flex; flex-grow: 1; flex-direction: column;
        align-items: center; 
        height: 100%; background-color: $mainSideBackgroundColor;
        width: 380px; min-width: 380px;
        .main-logo {
            text-align: center; padding: 0; margin: 0;
            width: 90px; height: 78px; margin: auto;
            a {
                text-decoration: none; color: $titleColor;
                img {
                    width: 100%; height: 100%; 
                    object-fit: contain;
                }
            }
        }
    }
    .middle-page {
        display: flex; flex-direction: column;align-items: center; flex-grow: 3;
        height: 100vh; width: 1540px; overflow: auto; padding-top: 3rem;
    }
}

@media (max-width: 768px) {
    .main-wrap {
        display: block; 
        .left-page {
            width: 100%; min-width: 0; height: 100px;
        }
        .middle-page {
            margin-top: 2%; width: 100%;
        }
    }
}